# dependencies
node_modules
.pnpm-store

# next
.next
out

# env
.env*
!.env.example

# build
dist
build
packages/*/dist

# logs
*.log

# mac
.DS_Store

# typescript
*.tsbuildinfo

# storybook
storybook-static

# vercel
.vercel