@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  /*기본 색상 비활성화*/
  --color-violet-*: initial;
  --color-gray-*: initial;
  --color-red-*: initial;
  --color-green-*: initial;

  /*violet*/
  --color-violet-100: #f0f0fc;
  --color-violet-200: #dfdeff;
  --color-violet-300: #c1b7ff;
  --color-violet-400: #9f90f9;
  --color-violet-500: #7b65ff;
  --color-violet-600: #5a42ee;
  --color-violet-700: #452aea;
  --color-violet-800: #2811ba;
  --color-violet-900: #1c0a88;

  /*gray*/
  --color-gray-100: #f1f5fa;
  --color-gray-200: #edf2f8;
  --color-gray-300: #d7dfea;
  --color-gray-400: #b5c1d2;
  --color-gray-500: #9099a5;
  --color-gray-600: #747a83;
  --color-gray-700: #41454a;
  --color-gray-800: #2e3032;
  --color-gray-900: #191b1e;

  /*red*/
  --color-red-100: #fef2f2;
  --color-red-200: #fdd;
  --color-red-300: #ffb9b9;
  --color-red-400: #ff9090;
  --color-red-500: #ff5252;
  --color-red-600: #f52e2e;
  --color-red-700: #ee173c;
  --color-red-900: #5c0e0e;

  /*green*/
  --color-green-100: #eaffef;
  --color-green-400: #8aea9f;
  --color-green-500: #69d180;
  --color-green-600: #41bf5d;
  --color-green-900: #165524;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
}

@layer base {
  body {
    @apply font-[Pretendard] text-gray-800;
  }
}

@layer utilities {
  .regular-9 {
    font-family: Pretendard;
    font-size: 0.563rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  /* Regular 11 */
  .regular-11 {
    font-family: Pretendard;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  /* Regular 13*/
  .regular-13 {
    font-family: Pretendard;
    font-size: 0.813rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  /* Regular 14 */
  .regular-14 {
    font-family: Pretendard;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  /* Regular 18 */
  .regular-18 {
    font-family: Pretendard;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  /* Regular 20 */
  .regular-20 {
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  /* Regular 25 */
  .regular-25 {
    font-family: Pretendard;
    font-size: 1.563rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  /* Regular 32 */
  .regular-32 {
    font-family: Pretendard;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  /* Medium 14 */
  .medium-11 {
    font-family: Pretendard;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }

  .medium-14 {
    font-family: Pretendard;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }

  /* Medium 16 */
  .medium-16 {
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }

  .semibold-13 {
    font-family: Pretendard;
    font-size: 0.813rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  .semibold-14 {
    font-family: Pretendard;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  .semibold-16 {
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  .semibold-18 {
    font-family: Pretendard;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  .bold-11 {
    font-family: Pretendard;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .rounded-10 {
    border-radius: 0.625rem;
  }

  .bold-12 {
    font-family: Pretendard;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .bold-14 {
    font-family: Pretendard;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .bold-16 {
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .bold-18 {
    font-family: Pretendard;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .bold-20 {
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .bold-25 {
    font-family: Pretendard;
    font-size: 1.563rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .bold-32 {
    font-family: Pretendard;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .spin-object {
    animation: spin-animate 1000ms ease-in-out;
  }

  @keyframes spin-animate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  .a11y-focus-visible {
    @apply relative focus-visible:z-10 focus-visible:ring-2 focus-visible:ring-violet-600 focus-visible:ring-offset-2;
  }

  .a11y-focus-visible-bg {
    @apply focus-visible:bg-violet-600 focus-visible:text-white;
  }

  .a11y-focus-within {
    @apply focus-within:ring-2 focus-within:ring-violet-600 focus-within:ring-offset-2;
  }
}
